body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}