<!DOCTYPE html>
<html>

<head>
    <title>Contact Form</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <h2>Contact Me</h2>

        <form method="POST" onsubmit="return validateForm()">

            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <textarea name="message" placeholder="Your Message" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</body>
<script src="/static/script.js"></script>

</html>